<%= form_for @heroine do |f| %>
  <ul>
  <% if @heroine.errors.any? %>
    <% @heroine.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
      <% end %>
    <% end %>
  </ul>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :super_name %>
<%= f.text_field :super_name %>
<%= f.collection_select(:power_id, Power.all, :id, :name) %>
<%= f.submit %>
<% end %>
