<h2>All Heroines</h2>


<%= form_tag heroines_path, method: :get do %>
  <%= search_field_tag(
      :superpower,
      params[:superpower],
      placeholder: "Search by power",
      
  ) %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
      <%= link_to "Edit", edit_heroine_path(heroine) %>
      <%= link_to "Delete", heroine, data: {confirm: "delete this heroine?"}, :method => :delete %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Create a new Heroine!", new_heroine_path %>
