<h2>All Heroines</h2>
<h3>A List of Fierceness</h3>
<p><%= form_tag("/heroines", method: "get") do %>
  <%= label_tag(:power_filter, "Order by superpower:") %>
  <%= text_field_tag(:power_filter) %>
  <%= submit_tag("Search") %>
<% end %>

</p>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>
