<h1>Create a fabulous Superheroine!</h1>
<%= form_for @heroine do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :super_name %>
  <%= f.text_field :super_name %></p>

  <p><%= f.label :power %>
  <%= f.collection_select :power_id, Power.all, :id, :name %></p>

  <p><%= f.submit %></p>
<% end %>
