<h1>Create New Heroine</h1>
<%= form_for @heroine do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :super_name %>:
  <%= f.text_field :super_name %><br />

  Power: <%= f.collection_select(:power_id, Power.all, :id, :name) %><br>
  <%= f.submit %>
<% end %>
