<h1>Heroine's Show Page</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %></br>

<h3>Name:</h3> <%= @heroine.name %>
<h3>Super Name:</h3> <%= @heroine.super_name %>
<h3>Power:</h3> <%=link_to(@heroine.power.name, power_path(@heroine.power)) %></br></br>

<%= link_to("Go back to Heroines' Index Page", heroines_path) %>
